/* Articles */
h1.main-title{
  text-align: center;
  padding-top: 30px;
  font-weight: bolder;
  font-size: xxx-large;
}

article.article{
  padding: 40px;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

section.article-content{
  padding-left: 30px;
  padding-right: 30px;
}

section.article-content > p{
  text-indent: 50px;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 45px;
  text-align: justify;
}

section.article-content > h1{
  margin-top: 30px;
  margin-bottom: 30px;

}

section.article-content > h2.citation{
  font-size: xxx-large;
  line-height: 60px;
  margin-bottom: 45px;
  color: gray;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border-left: solid 3px gray;
  margin-left: 25px;
}
  
section.article-content > ul{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 45px;
  margin-top: -25px;
  padding-left: 45px;
  list-style-type: disclosure-closed;
}


aside.article{
  position: relative;
  margin-right: 30px;
}


aside.article > nav{
  position: sticky;
  top: 60px;
  flex-direction: column;
  display: flex;
  justify-content: end;
}

aside.article > nav > ul{
  border-right: 1px solid black;
  width: max-content;
  max-width: 300px;
}


aside.article > nav > div.logo{
  position: initial;
  width: 200px; 
  height: 200px;
}

aside.article > nav > div.logo > a > img{
  width: 100%; 
  height: 100%;
}

.keep-space{
  white-space: nowrap;
}


.tocify-list-group{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  text-indent: 10px;
}

.tocify-list-group .tocify-list-group {
  text-indent: 20px;
}

.tocify-list-group .tocify-list-group .tocify-list-group {
  text-indent: 30px;
}

.tocify-list-group > .tocify-item{
  font-size: x-large;
  position: relative;
  display: block;
  padding-bottom: 10px;
  padding-right: 30px;
}

.tocify-list-group .tocify-list-group > .tocify-item {
  font-size: large;
}

.tocify-list-group .tocify-list-group .tocify-list-group > .tocify-item {
  font-size: medium;
}

.tocify-item.active {
  border-right: 3px solid blue;
}

div.blog-pic{
  align-self: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.blog-pic > img{
  width: 80vw;
  max-width: 800px;
  height: auto;
}

div.blog-pic > p{
  font-size: smaller;
  padding-top: 5px;
  color: gray;
  width: 80vw;
  max-width: 800px;
}

@media (max-width: 1000px){
  aside.article{
    display: none;
  }
}
  